body {
  padding: 20px;
}
.App section {
  max-width: 800px;
  margin: 0 auto;
}
.App .wrapper {
  margin: 20px auto;
  padding: 30px;
  border: solid 1px #cdcdcd;
  box-shadow: 6px -3px 6px #cdcdcd;
  border-radius: 4px;
  background-color: #ffffff;
}
.App h2 {
  font-weight: 700;
}
